.App {
  color: #F2E7C9;
  background-color: #413C58;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.pattern {
  max-width: 600px;
}


/*
Violet 413C58       fond
OpalBlue A3C4BC     note
TeaGreen BFD7B5     change needles
pale bud E7EFC5     waiting
champagne F2E7C9    text
*/
