.app {
  background-color: #F2E7C9;
  font-size: 12px;
  height: 100vh;
}

/*
Violet 413C58       fond
OpalBlue A3C4BC     note
TeaGreen BFD7B5     change needles
pale bud E7EFC5     waiting
champagne F2E7C9    text
*/
